@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[data-theme="theme-bento"] {
    --color-background: #2d394d;
    --color-primary: #ff7a90;
    --color-caret: #ff7a90;
    --color-secondary: #4a768d;
    --color-tertiary: #263041;
    --color-text: #fffaf8;
    --color-error: #ee2a3a;
    --color-error-addon: #f04040;
    --color-error-vibrant: #fc2032;
    --color-error-vibrant-addon: #f04040;
  }

  html[data-theme="theme-emerald"] {
    --color-background: #f5f5f5;
    --color-primary: #00d688;
    --color-caret: #00d688;
    --color-secondary: #6b7280;
    --color-tertiary: #ffffff;
    --color-text: #0a0a0a;
    --color-error: #ee2a3a;
    --color-error-addon: #f04040;
    --color-error-vibrant: #fc2032;
    --color-error-vibrant-addon: #f04040;
  }

  *:focus-visible {
    @apply outline-offset-4 outline-primary;
  }

  a:hover {
    @apply text-text transition-colors duration-300;
  }

  input {
    @apply bg-tertiary px-1 py-2 rounded-md text-text;
  }
  input:focus-visible {
    @apply outline outline-2 outline-secondary outline-offset-0;
  }
  input::placeholder {
    @apply text-sm;
  }
}
